h1,h2,h3,p{margin: 0;}

.wrapper{
    max-width: 670px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #46b1de;
    margin-bottom: 15px;
}
.article{background-color: olivedrab;}
.article__title{
    margin-bottom: 10px;
}
.article__title h2{
    text-align: center;
}
.article__body{
    border: 4px solid #000;
    width: fit-content;
    margin: 0 auto 10px auto;
    padding: 10px;
    background-color: #fff;
   }
.article__description{
    margin-bottom: 5px;
}

.article__description{
    margin-bottom: 5px;
}
.article__actions{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 15px;
}

.article__btn{
    font-weight: 600;
    padding: 5px 20px;
    background-color: orange;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
    min-width: 172px;
    cursor: pointer;
    &:hover {
        color: #fff;
    }
}

.article__author{
    margin: 10px 10px 0 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 16px;
    font-weight: 600;
}