@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
.build_your_world_text, .JOIN_HYDRA_button_text, .contact_us_text, .LETS_GET_IN_TOUCH_text, .TRY_IT_NOW_text, .SEND_TO_HYDRAtext, .Virtual, .Of, .Dive, .navigation_bar {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

.Lorem_ipsum_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}

.dive_section_center_button_and_arrow_build_your_world_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-color: #302C42;
  border-radius: 0px;
  display: flex;
  width: 100%;
  height: auto;
}

.page_content {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: inherit;
  height: auto;
  padding: 3.47% 5.42% 4.1% 5.83%;
}

.scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  font-size: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 1;
}
.scrollToTopBtn:hover {
  background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
}
@media (min-width: 992px) {
  .scrollToTopBtn {
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
  }
}

.scrollToTopBtn_img {
  background-image: url(../assets/img/Desctop/chevron-small-down.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .scrollToTopBtn_img {
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
  }
}

.dive_section {
  position: relative;
  display: flex;
  background-color: inherit;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.dive_section_top_menu {
  display: flex;
  height: fit-content;
  flex-direction: row;
}

.top_menu_navigation_bar {
  width: 100%;
  position: relative;
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  height: fit-content;
}

.navigation_bar {
  position: relative;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  font-size: 0.8vw;
  padding-left: 16.04%;
  text-align: center;
  width: 45.94%;
  height: 1.0416vw;
}

.navigation_bar.open {
  display: flex;
  z-index: 1;
}

.navigation_bar_services {
  padding-left: 10.85%;
}

.navigation_bar_technologies, .navigation_bar_how_to {
  padding-left: 10.6%;
}

.navigation_bar_about, .navigation_bar_services, .navigation_bar_technologies, .navigation_bar_how_to {
  cursor: pointer;
}

.contact_us_button {
  display: none;
}
@media (min-width: 448px) {
  .contact_us_button {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10.694vw;
    height: 3.33vw;
    margin-left: 9.72vw;
    border-radius: 40px;
    border: 2px solid #FFF;
    cursor: pointer;
    z-index: 20;
    background-color: inherit;
    transition: background-color 0.3s ease;
  }
}

.JOIN_HYDRA_button {
  display: none;
}
@media (min-width: 448px) {
  .JOIN_HYDRA_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 2.639vw;
    width: 10.764vw;
    height: 3.33vw;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    z-index: 11;
  }
  .JOIN_HYDRA_button:hover {
    background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
  }
}

.top_menu_hydra_img_box {
  width: 8.06%;
  height: auto;
}

.top_menu_hydra_img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.top_menu_hydra_words {
  width: 5.75%;
  height: 3.6%;
  display: flex;
  margin-top: 0;
  margin-left: 1.17%;
  height: fit-content;
}

.letter_H {
  animation: slideIn_H 1s forwards;
}

.letter_H_img {
  width: 100%;
  height: auto;
}

.letter_Y {
  margin-left: 6.6%;
  animation: slideIn_Y 1.5s forwards;
}

.letter_Y_img {
  width: 100%;
  height: auto;
}

.letter_D {
  margin-left: 6.6%;
  animation: slideIn_D 2s forwards;
}

.letter_D_img {
  width: 100%;
  height: auto;
}

.letter_R {
  margin-left: 7.3%;
  animation: slideIn_R 2.5s forwards;
}

.letter_R_img {
  width: 100%;
  height: auto;
}

.letter_A {
  margin-left: 6.6%;
  animation: slideIn_A 3s forwards;
}

.letter_A_img {
  width: 100%;
  height: auto;
}

@keyframes slideIn_H {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_Y {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_D {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_R {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_A {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.vector1 {
  position: absolute;
  width: 27.5vw;
  height: auto;
  top: 11.8vw;
  right: 0.208vw;
  left: 71vw;
}

.vector1_img {
  background-image: url(../assets/img/Desctop/vector1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 27.5vw;
  height: 46.45vw;
  margin: 0;
  z-index: 1;
}

.vector2 {
  position: absolute;
  width: 26.55vw;
  height: auto;
  top: 0px;
  left: 64.51vw;
}

.vector2_img {
  background-image: url(../assets/img/Desctop/vector-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 26.55vw;
  height: 58.68vw;
  margin: 0;
  z-index: 1;
}

.vector3 {
  position: absolute;
  width: 49.5vw;
  height: auto;
  top: 29.097vw;
  left: 49.097vw;
}

.vector3_img {
  background-image: url(../assets/img/Desctop/vector3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 49.5vw;
  height: 29.12vw;
  z-index: 1;
}

@media screen and (min-width: 448px) {
  .about::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: 0.2s;
    bottom: 0;
    left: 14.22vw;
    width: 0%;
    height: 1px;
    transition: 0.2s;
  }
  .about:hover:after {
    width: 3.195vw;
  }

  .services::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: 0.2s;
    bottom: 0;
    left: 20vw;
    width: 0%;
    height: 1px;
    transition: 0.2s;
  }
  .services:hover:after {
    width: 4.31vw;
  }

  .technologies::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: 0.2s;
    bottom: 0;
    left: 27vw;
    width: 0%;
    height: 1px;
    transition: 0.2s;
  }
  .technologies:hover:after {
    width: 6.94vw;
  }

  .how_to::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: 0.2s;
    bottom: 0;
    left: 36.3vw;
    width: 0%;
    height: 1px;
    transition: 0.2s;
  }
  .how_to:hover:after {
    width: 3.81vw;
  }
}
.dive_section_center {
  display: flex;
  height: fit-content;
  flex-direction: row;
  padding-top: 11.42%;
  z-index: 2;
  height: 100%;
}

.Dive {
  font-size: 3.2vw;
  text-align: center;
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: block;
  align-items: center;
}

.Into_The_Depths {
  font-size: 2.78vw;
  text-align: center;
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Of_Virtual_Reality {
  display: flex;
  padding-top: 0.28vw;
  z-index: 10;
}

.Of {
  font-style: normal;
  font-size: 2.78vw;
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Virtual {
  font-size: 3.2vw;
  background: linear-gradient(91.57deg, #8176AF -1.02%, #9b93b1 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Lorem_ipsum_box {
  display: flex;
  padding-top: 2.5vw;
}

.Lorem_ipsum_text {
  color: #FFFFFF;
  line-height: 1.5;
  font-size: 1.12vw;
}

.dive_section_center_button_and_arrow {
  display: flex;
  flex-direction: row;
}

.dive_section_center_button_and_arrow_build_your_world_button {
  display: flex;
  position: relative;
  width: 14.86vw;
  height: 3.33vw;
  margin-top: 4.583vw;
  height: fit-content;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dive_section_center_button_and_arrow_build_your_world_button:hover {
  background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
}

.build_your_world_text, .JOIN_HYDRA_button_text, .contact_us_text, .LETS_GET_IN_TOUCH_text, .TRY_IT_NOW_text, .SEND_TO_HYDRAtext, .build_your_world_text {
  font-size: 0.972vw;
  line-height: 1.18vw;
  color: #343045;
  line-height: 3.61vw;
  text-align: center;
  flex-grow: 1;
}
.build_your_world_text:hover, .JOIN_HYDRA_button_text:hover, .contact_us_text:hover, .LETS_GET_IN_TOUCH_text:hover, .TRY_IT_NOW_text:hover, .SEND_TO_HYDRAtext:hover, .build_your_world_text:hover {
  font-size: 1.11vw;
}
@media (min-width: 448px) {
  .build_your_world_text, .JOIN_HYDRA_button_text, .contact_us_text, .LETS_GET_IN_TOUCH_text, .TRY_IT_NOW_text, .SEND_TO_HYDRAtext, .build_your_world_text {
    font-size: 0.84vw;
  }
  .build_your_world_text:hover, .JOIN_HYDRA_button_text:hover, .contact_us_text:hover, .LETS_GET_IN_TOUCH_text:hover, .TRY_IT_NOW_text:hover, .SEND_TO_HYDRAtext:hover, .build_your_world_text:hover {
    font-size: 0.972vw;
  }
}

.contact_us_text {
  color: #FFFFFF;
  font-size: 0.84vw;
}

.build_your_world_button_arrow_small_right_box_img {
  width: 6.94vw;
  height: 6.94vw;
  margin-left: 0.763vw;
  margin-top: 2.77vw;
}