@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
.navigation_bar {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.47% 5.42% 4.1% 5.83%;
  margin: 0 auto;
  background-color: #302C42;
  border-radius: 0px;
  display: flex;
  width: 100%;
  height: 100vh;
}

.page_content {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: inherit;
  height: auto;
}

.dive_section {
  position: relative;
  display: flex;
  background-color: inherit;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.dive_section_top_menu {
  display: flex;
  height: fit-content;
  flex-direction: row;
}

.top_menu_navigation_bar {
  width: 100%;
  position: relative;
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3.44%;
  padding: 0;
  height: fit-content;
}

.navigation_bar {
  position: relative;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  font-size: 0.8vw;
  padding-left: 16.04%;
  text-align: center;
  width: 53.44%;
}

.navigation_bar.open {
  display: flex;
  z-index: 1;
}

.navigation_bar_services {
  padding-left: 10.85%;
}

.navigation_bar_technologies, .navigation_bar_how_to {
  padding-left: 10.6%;
}

.navigation_bar_about, .navigation_bar_services, .navigation_bar_technologies, .navigation_bar_how_to {
  cursor: pointer;
}

.top_menu_hydra_img_box {
  width: 8.06%;
  height: auto;
}

.top_menu_hydra_img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.top_menu_hydra_words {
  width: 5.75%;
  height: 3.6%;
  display: flex;
  margin-top: 0;
  margin-left: 1.17%;
  height: fit-content;
}

.letter_H {
  animation: slideIn_H 1s forwards;
}

.letter_H_img {
  width: 100%;
  height: auto;
}

.letter_Y {
  margin-left: 6.6%;
  animation: slideIn_Y 1.5s forwards;
}

.letter_Y_img {
  width: 100%;
  height: auto;
}

.letter_D {
  margin-left: 6.6%;
  animation: slideIn_D 2s forwards;
}

.letter_D_img {
  width: 100%;
  height: auto;
}

.letter_R {
  margin-left: 7.3%;
  animation: slideIn_R 2.5s forwards;
}

.letter_R_img {
  width: 100%;
  height: auto;
}

.letter_A {
  margin-left: 6.6%;
  animation: slideIn_A 3s forwards;
}

.letter_A_img {
  width: 100%;
  height: auto;
}

@keyframes slideIn_H {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_Y {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_D {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_R {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_A {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.vector1 {
  display: flex;
  position: absolute;
  width: 32.39%;
  height: auto;
  top: 170px;
  left: 73.47%;
}

.vector1_img {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 990px) {
  .about::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: 0.2s;
    bottom: 0;
    left: 30%;
    width: 0%;
    height: 1px;
    transition: 0.2s;
  }
  .about:hover:after {
    width: 6.73%;
  }

  .services::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: 0.2s;
    bottom: 0;
    left: 44.6%;
    width: 0%;
    height: 1px;
    transition: 0.2s;
  }
  .services:hover:after {
    width: 9.08%;
  }

  .technologies::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: 0.2s;
    bottom: 0;
    left: 240px;
    width: 0%;
    height: 1px;
    transition: 0.2s;
  }
  .technologies:hover:after {
    width: 100px;
  }

  .how_to::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: 0.2s;
    bottom: 0;
    left: 380px;
    width: 0%;
    height: 1px;
    transition: 0.2s;
  }
  .how_to:hover:after {
    width: 55px;
  }
}