<div class="wrapper">
    <div class="body">
        <div class="picture">
            <img [src]="img" alt="">
        </div>
        <div class="user-data">
            <h2>{{name}}</h2>
            <div class="post-text">{{status}}</div>
        </div>
        <div class="team-rating">
            Team rating is: 0
        </div>
    </div>
    <p>Personal rating</p>
    <div class="personal-rating">
        <button class="network">-</button>
        <span>0</span>
        <button class="network">+</button>
    </div>
        
</div>
