@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


%title_mobile_Text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
};
%title_mobile_standard_Text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
};
