@import 'title';
@import '_colors';
@import '_template';

.wrapper {
    background-repeat: no-repeat;
    background-size:cover;
    // padding: 3.47% 5.42% 4.1% 5.83%;
    // min-width: 390px;  
    margin:0 auto;
    background-color:  #302C42;
    // border-radius: 40px;
    border-radius: 0px;
    display: flex;
    width: 100%;
    height: auto;
}
.page_content {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: inherit;
    height: auto;
    padding: 0;
    @media (min-width: 768px){
    padding: 3.47% 5.42% 4.1% 5.83%;
    }
}
.scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%); 
    font-size: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    &:hover {
        background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
    }
    @media (min-width: 768px){
        width: 70px;
        height: 70px;
        bottom: 30px;
        right: 30px;
    }
}

.scrollToTopBtn_img{
        background-image: url(../assets/img/Desctop/chevron-small-down.png);
        background-repeat: no-repeat;
        background-size:cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 6px;
        border: none;
        outline: none;
        cursor: pointer;
        transform: rotate(180deg);
        @media (min-width: 768px){
            width: 70px;
            height: 70px;
            bottom: 30px;
            right: 30px;
        }
}
.dive_section{
    position: relative;
    display: flex;
    background-color: inherit;
    flex-direction: column;
    width: 100%;
    height: auto;
    
}
.dive_section_top_menu{
    display: flex;
    height: fit-content;
    flex-direction: row;
}

 
 

.top_menu_navigation_bar {
    width: 100%;
    position: relative;
    display: flex;
    @media (min-width: 768px){
    z-index: 5;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    // margin-left: 205px;
    padding: 0;
    height: fit-content;
    }
}
.hamburger-menu {
    width: 33px;
    position: absolute;
    height: 26px;
    top: 64.14px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 1;
    @media (min-width: 768px){
        display: none;
    }
  }
  
  .line {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #C0B7E8 -11.84%, #8176AF 100%);
    border-radius: 40px;
    transition: transform 0.3s ease;
  }
  
  .hamburger-menu.open .line:nth-child(1) {
    transform: rotate(45deg) translate(9px, 8px);
  }
  .hamburger-menu .line:nth-child(2) {
    
    width: 24px;
    align-self: flex-end;

  }
  .hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
    width: 10px;
    align-self: flex-end;

  }
  
  .hamburger-menu.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -7px);
  }
.navigation_bar{
    display: none;
    padding-top: 5vw;
    padding-left: 2vw;
    font-size: 3.07vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %title_mobile_Text;
        @media (min-width: 768px){
        position: relative;
        list-style: none;
        display: inline-flex;
        flex-direction: row;
        padding-top: 0;
        font-size: 0.8vw;
        padding-left: 16.04%;   
        text-align: center;   
        width: 45.94%; 
        // margin-top: 3.44%;
        height: 1.0416vw;
        }
}
.navigation_bar.open {
    display: flex; // Отобразить список меню при добавлении класса 'open'
    z-index: 1;
  }
.navigation_bar_services{
    padding-left: 10.85%;
}
.navigation_bar_technologies, .navigation_bar_how_to{
    padding-left: 10.6%;
}
.navigation_bar_about, .navigation_bar_services, .navigation_bar_technologies, .navigation_bar_how_to{
    cursor: pointer;
}
.contact_us_button{
    display: none;
    @media (min-width: 768px){
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 10.694vw;
        height: 3.33vw;
        // margin-top: 2.0138vw;
        margin-left: 9.72vw;
        border-radius: 40px;
        border: 2px solid #FFF; 
        cursor: pointer;
        z-index: 20;
        background-color: inherit;
        transition: background-color 0.3s ease;
    }
}
.JOIN_HYDRA_button{
    display: none;
    @media (min-width: 768px){ 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 2.639vw;
        // margin-top: 2.0138vw;
        width: 10.764vw;
        height: 3.33vw;
        flex-shrink: 0;
        transition: background-color 0.3s ease;
        flex-grow: 1;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        border-radius: 40px;
        z-index: 11;
        &:hover {
            background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
        }
    }
}
.top_menu_hydra_img_box {
    margin-left: 5.12vw;
    margin-top: 6.579vw;
    width: 17.69vw;
    height: 15.39vw;
    z-index: 2;
    @media (min-width: 768px){
        width: 8.06%;
        height: auto;
        margin-left: 0;
        margin-top: 0;
    }
}
.top_menu_hydra_img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.top_menu_hydra_words{
    display: flex;
    height: fit-content;
    width: 11.79vw;
    height: 7.19vw;
    margin-left: 2.82vw;
    margin-top: 13.33vw;
    @media (min-width: 768px){
        width: 5.277vw;
        height: 3.194vw;
        margin-top: 0;
        margin-left: 1.041vw;
    
    }
}
.letter_H{
    animation: slideIn_H 1s forwards;
    
}
.letter_H_img{
    width: 100%;
    height: auto;
}
.letter_Y{
    margin-left: 6.6%;
    animation: slideIn_Y 1.5s forwards;
    
}
.letter_Y_img{
    width: 100%;
    height: auto;
}
.letter_D{
    margin-left: 6.6%;
    animation: slideIn_D 2s forwards;
    
}
.letter_D_img{
    width: 100%;
    height: auto;
}
.letter_R{
    margin-left: 7.3%;
    animation: slideIn_R 2.5s forwards;
    
}
.letter_R_img{
    width: 100%;
    height: auto;
}
.letter_A{
    margin-left: 6.6%;
    animation: slideIn_A 3s forwards;
    
}
.letter_A_img{
    width: 100%;
    height: auto;
}
@keyframes slideIn_H {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn_Y {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn_D {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn_R {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn_A {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.vector1 {
    position: absolute;
    width: 70vw;
    height: auto;
    top: 19.74vw;
    right: 0;
    left: 26.15vw;
    z-index: 1;
    @media (min-width: 768px) {
        width: 27.5vw;
        top: 11.8vw;
        right: 0.208vw;
        left: 71vw;
    }
    
}
.vector1_img {
    background-image: url(../assets/img/Desctop/vector1.webp);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    width: 70vw;
    height: 144.1vw;
    margin: 0;
    z-index: 1;
    @media (min-width: 768px) {
        width: 27.5vw;
        height: 46.45vw;
    }
        
}
.vector2 {
    position: absolute;
    width: 82vw;
    height: auto;
    top: -16.6vw;
    left: 5.89vw;
    z-index: 1;
    @media (min-width: 768px) {
        width: 26.55vw;
        left: 64.51vw;
        top:0;
    }
}
.vector2_img {
    background-image: url(../assets/img/Desctop/vector-2.webp);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    width: 82vw;
    height: 181.7vw;
    margin: 0;
    z-index: 1;
    @media (min-width: 768px) {
        width: 26.55vw;
        height: 58.68vw;
    }
}
.vector3 {
    position: absolute;
    width: 144vw;
    height: auto;
    top: 73.33vw;
    left: -47.79vw;
    z-index: 1;
    @media (min-width: 768px) {
        width: 49.5vw;
        top: 29.097vw;
        left: 49.097vw;
    }
}
.vector3_img {
    background-image: url(../assets/img/Desctop/vector3.webp);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    width: 144vw;
    height: 90.25vw;
    z-index: 1;
    @media (min-width: 768px) {
        width: 49.5vw;
        height: 29.12vw;
    }
}
@media (min-width: 768px) {
.about {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 0%;
        height: 1px;
        transition: 0.2s;
                   bottom: 0;
            left: 14.4vw;
            width: 0%;
            height: 1px;
            transition: 0.2s;
       
    };
    &:hover:after {
            width: 3.195vw;
        
    };
}
.services {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 0%;
        height: 1px;
        transition: 0.2s;
        bottom: 0;
        left: 20.3vw;
        width: 0%;
        height: 1px;
        transition: 0.2s;
        
    };
    &:hover:after {
        width: 4.25vw;
    };
}
.technologies{
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 0%;
        height: 1px;
        transition: 0.2s;
        
            bottom: 0;
            left: 27.2vw;
            width: 0%;
            height: 1px;
            transition: 0.2s;
        
    };
    &:hover:after {
            width: 6.8vw;
    };
}
.how_to{
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 0%;
        height: 1px;
        transition: 0.2s;
            bottom: 0;
            left: 36.6vw;
            width: 0%;
            height: 1px;
            transition: 0.2s;
        
    };
    &:hover:after {
        
            width: 3.81vw;
        
    };
}
}

.dive_section_center{
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: 768px) {
        height: fit-content;
        flex-direction: row;
        padding-top: 6.8vw;
        z-index: 2;
        height: 100%;
        }
}
.Dive_Into_The_Depths{
    display: flex;
    justify-content: center;
    z-index: 2;
    padding-bottom: 1.79vw;
    @media (min-width: 768px) {
        width: 31.67vw;
        padding: 0;
    }
}
.Dive{
    z-index: 10;   
    @extend %title_mobile_Text ;
    margin-top: 7.69vw;
    font-size: 9.23vw;
    text-align: center;
    background: $firstGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display:block;
    align-items: center;
    // margin-left: 11.79vw;
    @media (min-width: 768px) {
        margin-top: 3.33vw;
        font-size: 3.19vw;
        margin-left: 0;
    }
}
.Into_The_Depths{
    font-size: 6.15vw;
    text-align: center;
    background: $firstColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 10;
    @media (min-width: 768px) {
        font-size: 2.77vw;
    }
}
.Of_Virtual_Reality{
    display: flex;
    padding-top:2.05vw;
    z-index: 10;
    padding-left: 14.87vw;
    z-index: 15;
    @media (min-width: 768px) {
        padding-top: 0.28vw;
        padding-left: 0;
    }
}
.Of{
    @extend %title_mobile_Text;
    font-style: normal;
    font-size: 6.15vw;
    background: $firstColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 10;
    @media (min-width: 768px) {
        font-size: 2.77vw;
    }
}
.Virtual{
    @extend %title_mobile_Text;
    font-size:  8.2vw;
    background: linear-gradient(227deg, #C0B7E8 0%, #8176AF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    z-index: 10;
    @media (min-width: 768px) {
        font-size:  3.19vw;
    }   
}
.Lorem_ipsum_box{
    display: none;
    @media (min-width: 768px) {
        display: flex;
        padding-top: 2.5vw;
    }
}
.Lorem_ipsum_text{
    color: $firstColor;
    @extend %title_mobile_thin_Text;
    line-height: 1.5;
    font-size: 1.12vw;
}
.dive_section_center_button_and_arrow{
        display: flex;
        flex-direction: row;
}
.dive_section_center_button_and_arrow_build_your_world_button {
    display: flex;
    position: relative;
    width: 74.87vw;
    height: 13.33vw;
    margin-left: 13.33vw;
    margin-bottom: 13.59vw;
    @extend %button_box;
    margin-top: 9.23vw;
    height: fit-content;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
        background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
    }
    @media (min-width: 768px) {
        margin-left: 0;
        width: 14.86vw;
        height: 3.33vw;
        margin-top: 4.583vw;
        margin-bottom: 0vw;

    }
//     &:after {
//         content: "";
//         background-image: url(../assets/img/Desctop/arrow-small-right.webp);
//         background-repeat: no-repeat;
//         background-size: cover;
//         width: 6.94vw;
//         height: 6.94vw;
//         position: absolute;
//         left: 15.625vw;
// }
}
.build_your_world_text,.JOIN_HYDRA_button_text,.contact_us_text, .LETS_GET_IN_TOUCH_text, .TRY_IT_NOW_text, .SEND_TO_HYDRAtext{ 
    @extend %title_mobile_Text;
    font-size: 3.59vw;
    color: $secondColor;
    line-height: 13.33vw;
    text-align: center;
    flex-grow: 1;
    &:hover {
        font-size: 4.1vw;
    }   
    @media (min-width: 768px){
        font-size: 0.84vw;
        line-height: 1.18vw;
        &:hover {
            font-size: 0.972vw;
        }   
    }
}
.contact_us_text{
    @extend %title_mobile_Text;
    color: $firstColor;
    font-size: 0.84vw;
}
// .arrow_small_right_box {
//     display: none;
//     @media (min-width: 992px){
//         display: flex;
//         background-image: url(../assets/img/Desctop/arrow-small-right.webp);
//         background-repeat: no-repeat;
//         background-size:cover;
//         position: absolute;
//         top: 563px;
//         left: 312px;
//         width: 100px;
//         height: 100px;

//     }
// }
.build_your_world_button_arrow_small_right_box_img{
    display: none;
    @media (min-width: 768px) {
        display: flex;
        width: 6.94vw;
        height: 6.94vw;
        margin-left: 0.763vw;
        margin-top: 2.77vw;
    }
    }
.dive_section_center_img_box {
    display: flex;
    position: relative;
    width: 87.179vw;
    height: 75.897vw;
    margin-top: 12.42vw;
    margin-left: 6.41vw;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 100px 100px 100px 240px;
    z-index: 10;
    @media (min-width: 768px){
        width: 36.388vw;
        height: 31.597vw;
        margin-top: 0;
        margin-left: 20.13vw;
        // padding: 0.972vw 1.25vw 1.042vw 1.1vw;
    }
}
.dive_section_center_img {
    position: relative;
    width: 81.79vw;
    height: 71.025vw;
    margin:2.33vw 2.9vw 2.525vw 2.56vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 100px 240px;
    z-index: 10;
    @media (min-width: 768px){
        width: 34.028vw;
        height: 29.583vw;
        flex-shrink: 0;
        margin: 0.972vw 1.25vw 1.042vw 1.1vw;
    }
}