.list {
  padding: 10px;
  background-color: #e1821d;
}

h1, h2, h3, p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  max-width: 350px;
  background-color: #2f393d;
  padding: 10px;
}