@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Sofia Sans";
  font-display: swap;
  font-style: normal;
  src: url("../Fonts/SofiaSans-Regular.woff2") format("woff2");
}