@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.build_your_world_text, .Reality, .Virtual, .Of {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

.location_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

.first_screen {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  min-width: 390px;
  min-height: 844px;
  height: 100%;
  margin: 0 auto;
  background-color: #302C42;
  border-radius: 40px;
  display: flex;
}

.hydra_img {
  background-image: url(../src/assets/img/Vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  margin-left: 20px;
  margin-top: 25.56px;
  margin-right: 0px;
  width: 69px;
  height: 59.88px;
}

.burger-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 33px;
  height: 26px;
  top: 53px;
  right: 20px;
}

.line {
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #C0B7E8 -11.84%, #8176AF 100%);
  border-radius: 40px;
}

.line:nth-child(2) {
  width: 24px;
  background: linear-gradient(90deg, #C0B7E8 -15.79%, #8176AF 100%);
  opacity: 0.3;
  border-radius: 40px;
  align-self: flex-end;
}

.Rectangle4 {
  display: flex;
  position: absolute;
  width: 340px;
  height: 296px;
  top: 134px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.13);
  border-radius: 100px 100px 100px 240px;
  z-index: 10;
}

.Rectangle5 {
  background-image: url(../src/assets/img/pexels-michelangelo-buonarroti-87283821.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 318.67px;
  height: 277.04px;
  margin: 9.01px 11.33px 9.85px 10.01px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px 100px 100px 240px;
  z-index: 10;
}

.Dive_Into_The_Depths {
  display: flex;
  position: absolute;
  width: 298px;
  height: 49px;
  top: 460px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.Dive {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Into_The_Depths {
  font-size: 24px;
  line-height: 29.26px;
  text-align: center;
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Of_Virtual_Reality {
  display: flex;
  position: absolute;
  width: 274px;
  height: 39px;
  top: 517px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 82.38px;
  z-index: 100;
}

.Of {
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Virtual {
  font-size: 32px;
  line-height: 39.01px;
  background: linear-gradient(91.57deg, #8176AF -1.02%, #9b93b1 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Reality {
  font-size: 32px;
  line-height: 39.01px;
  background: linear-gradient(91.57deg, #9b93b1 -1.02%, #cdc5ef 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.build_your_world_button {
  display: flex;
  position: absolute;
  width: 292px;
  height: 52px;
  left: 50%;
  top: 592px;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
}

.build_your_world_box {
  position: absolute;
  width: 155px;
  height: 17px;
  top: 17px;
  left: 68px;
}

.build_your_world_text {
  font-size: 14px;
  line-height: 17px;
  columns: #343045;
}

.Rectangel6 {
  display: flex;
  position: absolute;
  width: 347px;
  height: 109px;
  left: 50%;
  transform: translateX(-50%);
  top: 697px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 90px;
}

.location_img {
  background-image: url(../src/assets/img/Location-Icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 36px;
  top: 21px;
}

.location_text_box {
  position: absolute;
  width: 195px;
  height: 40px;
  left: 101px;
  top: 38px;
}

.location_text {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.circle_left_box {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 5px;
  top: 40px;
  bottom: 39px;
  right: 312px;
  background: none;
}

.circle {
  left: 8.75px;
  top: 43.75px;
  position: absolute;
  height: 22.5px;
  width: 22.5px;
  border-radius: 50%;
  transform: rotate(-90deg);
  background: none;
}

.circle_left {
  left: 3.75px;
  top: 3.75px;
  position: absolute;
  height: 22.5px;
  width: 22.5px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
  transform: rotate(-90deg);
  background: none;
}

.circle_left::before,
.circle_left::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50%;
  height: 1.5px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
}

.circle_left::before {
  left: 35%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.circle_left::after {
  right: 35%;
  transform-origin: center;
  transform: translate(50%, -50%) rotate(45deg);
}

.right {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40px;
  left: 306px;
  bottom: 39px;
  right: 11px;
  border-radius: 50%;
  background: none;
}

.circle_right {
  left: 3.75px;
  top: 3.75px;
  position: absolute;
  height: 22.5px;
  width: 22.5px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
  transform: rotate(90deg);
  background: none;
}

.circle_right::before,
.circle_right::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50%;
  height: 1.5px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
}

.circle_right::before {
  left: 35%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.circle_right::after {
  right: 35%;
  transform-origin: center;
  transform: translate(50%, -50%) rotate(45deg);
}

@keyframes slideIn_H {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_Y {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_D {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_R {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn_A {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.hydra_test {
  position: relative;
  display: flex;
  width: 46px;
  height: 28px;
  margin-left: 11px;
  margin-top: 52px;
}

.letter_H {
  background-image: url(../src/assets/img/H.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 7px;
  height: 28px;
  animation: slideIn_H 1s forwards;
}

.letter_Y {
  background-image: url(../src/assets/img/Y.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8.39px;
  height: 28px;
  margin-left: 2px;
  animation: slideIn_Y 1.5s forwards;
}

.letter_D {
  background-image: url(../src/assets/img/D.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 6.98px;
  height: 28px;
  margin-left: 2px;
  animation: slideIn_D 2s forwards;
}

.letter_R {
  background-image: url(../src/assets/img/R.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 28px;
  margin-left: 2px;
  animation: slideIn_R 2.5s forwards;
}

.letter_A {
  background-image: url(../src/assets/img/A.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 9.39px;
  height: 28px;
  margin-left: 1px;
  animation: slideIn_A 3s forwards;
}