<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-item">
          <label for="login">Login</label>
          <input placeholder="Your Login..."  formControlName="login" >
                <p *ngIf="form.get('login')?.['invalid'] && form.get('login')?.['touched'] && form.get('login')?.['errors']?.['required']">
                The field must not be empty</p>
                <p *ngIf="form.get('login')?.['invalid'] && form.get('login')?.['touched'] && form.get('login')?.['errors']?.['minlength']">
                The login must contain more than {{form.get('login')?.['errors']?.['minlength']?.['requiredLength']}} characters.
                </p>
                <p *ngIf="form.get('login')?.['invalid'] && form.get('login')?.['touched'] && form.get('login')?.['errors']?.['pattern']">
                Only latin letters and figures are allowed without space</p>
      </div>
      <div class="form-item">
          <label for="email">Email</label>
          <input id="email" placeholder="Your email..." formControlName="email">
                <p *ngIf="form.get('email')?.['pending']">Cheking email...</p>
                <p *ngIf="form.get('email')?.['errors']?.['notFound']">This email address doesn't exist</p>

                <p *ngIf="form.get('email')?.['errors']?.['uniqEmail']">This email address already exists</p>
                <p *ngIf="form.get('email')?.['invalid'] && form.get('email')?.['touched'] && form.get('email')?.['errors']?.['email']">
                Enter correct email</p>
                <p *ngIf="form.get('email')?.['invalid'] && form.get('email')?.['touched'] && form.get('email')?.['errors']?.['required']">
                The field must not be empty</p>
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input id="password" placeholder="Your pasword..."  formControlName="password" >
            <p *ngIf="form.get('password')?.['invalid'] && form.get('password')?.['touched'] && form.get('password')?.['errors']?.['required']">
            The field must not be empty</p>
            <p *ngIf="form.get('password')?.['invalid'] && form.get('password')?.['touched'] && form.get('password')?.['errors']?.['minlength']">
            The password must contain more than {{form.get('password')?.['errors']?.['minlength']?.['requiredLength']}} characters. You have entered just {{ form.get('password')?.value?.length }}
            </p>
    </div>
      <button type="submit">Submit</button>
  </form>
</div>