%displayflexJustifycenterAligncenter{
    display: flex;
    justify-content: center;
    align-items: center;
};
%robotoNormal_600 {
    font-family: "Roboto";
    font-style: normal;  
    font-weight: 600;
}
