%why {
    margin: 435px 65px 0px 65px;
    @media(min-width: 480px){
        margin: 90px auto 10px;
    }
    @media(min-width: 768px){
        margin: 148px auto 0px;
    }
    @media(min-width: 992px){
        margin: 148px 0px 0px 0px;
    }
};

%years {
    top: 590px;
    @media(min-width: 480px){
        top: 601px;
    }
};
%percent {
    top: 720px;
    @media(min-width: 480px){
        top: 601px;
    }
};
%month {
    top: 850px;
    @media(min-width: 480px){
        top: 601px;
    }
};
%do_i_provode_box {
    margin: 30px auto;
    @media(min-width: 768px){
        margin: 90px auto;
    };
    @media(min-width: 992px){
        margin-top: 90px;
    }  
};
%therapeutic_header_box {
    top: 2380px;
    @media(min-width: 480px){
        top: 2150px;
    }; 
    @media(min-width: 768px){
        top: 1530px;
    }; 
    
};
%threatment_box {
    top: 2395px;
    @media(min-width: 480px){
        top: 2165px;
    };
    @media(min-width: 768px){
        top: 1562px;
    }
};
%prosthetics_header_box {
    top: 2380px;
    @media(min-width: 480px){
        top: 2150px;
    }; 
    @media(min-width: 768px){
        top: 1530px;
    };
};
%prosthetics_box {
    top: 2395px;
    @media(min-width: 480px){
        top: 2165px;
    };
    @media(min-width: 992px){
        top: 1562px;
    };
};
%surgical_box {
    top: 2455px;
    @media(min-width: 480px){
        top: 2225px;
    };
    @media(min-width: 768px){
        top: 1705px;
    };
};
%surgical_header_box {
    top: 2440px;
    @media(min-width: 480px){
        top: 2210px;
    };
    @media(min-width: 768px){
        top: 1673px; 
    };
};
%children_header_box {
    top: 2440px;
    @media(min-width: 480px){
        top: 2210px;
    };
    @media(min-width: 768px){
        top: 1670px;
    };
};
%nostress_box {
    top: 2455px;
    @media(min-width: 480px){
        top: 2225px;
    };
    @media(min-width: 768px){
        top: 1702px;
    };
}
%prof_header_box {
    top: 2515px;
    @media(min-width: 480px){
        top: 2275px;
    };
    @media(min-width: 768px){
        top: 1821px; 
    };
};
%with_help_box {
    top: 2530px;
    @media(min-width: 480px){
        top: 2290px;
    };
    @media(min-width: 768px){
        top: 1853px;
    };
};
%plasmo_header_box  {
    top: 2515px;
    @media(min-width: 480px){
        top: 2275px;
    };
    @media(min-width: 768px){
        top: 1821px;
    }; 
};
%plasmo_box {
    top: 2530px;
    @media(min-width: 480px){
        top: 2290px;
    };    
    @media(min-width: 768px){
        top: 1853px;
    }; 
};
%over {
    margin-top: 30px;  
    @media(min-width: 480px){
        margin-top: 30px;
    }  
    @media(min-width: 768px){
        margin: 5px auto;
    }
    @media(min-width: 992px){
        // margin: 5px 0px 0px 0px;
        margin: 5px;
        
    }
};
%elipse3 {   
    top: 2380px; 
    @media(min-width: 480px){
        top: 2150px;
    };    
    @media(min-width: 768px){
        top: 1533px;
    }; 
};
%rectanle35_box {
    top: 2410px;
    @media(min-width: 480px){
        top: 2180px;
    };    
    @media(min-width: 768px){
        top: 1603px;
    };
    
};
%elipse4 {
    top: 2400px;
    @media(min-width: 480px){
        top: 2170px;
    };    
    @media(min-width: 768px){
        top: 1560px;
    };  
    @media(min-width: 992px){
        top: 8.94%;
    };
};
%elipse5 {
    top: 2500px;
    @media(min-width: 480px){
        top:2270px;
    };    
    @media(min-width: 768px){
        top: 1781px;
    };  
    @media(min-width: 992px){
        top: 82.12%;
    };
};
%elipse6 {
    top: 2400px;
    @media(min-width: 480px){
        top: 2170px;
    };    
    @media(min-width: 768px){
        top: 1560px;
    };  
    @media(min-width: 992px){
        top: 8.94%
    };
};
%elipse9 {
    top: 2500px;
    @media(min-width: 480px){
        top: 2270px;
    };    
    @media(min-width: 768px){
        top: 1781px;
    };  
    @media(min-width: 992px){
        top: 82.12%;
    };
};
%elipse7 {
    top: 2450px;
    @media(min-width: 480px){
        top: 2220px;
    };    
    @media(min-width: 768px){
        top: 1672px;
    };  
    @media(min-width: 992px){
        top: 46%;
    };
};
%elipse8 {
    top: 2450px;
    @media(min-width: 480px){
        top: 2220px;
    };    
    @media(min-width: 768px){
        top: 1672px;
    };  
    @media(min-width: 992px){
        top: 46%;
    };
};

%box_make {
    margin: 210px auto 0px;
    @media(min-width: 480px){
        margin: 220px auto 0px;
    }
    @media(min-width: 768px){
        margin: 570px auto 0px;
    }
    @media(min-width: 992px){ 
        margin-top: 88px;
        margin-left: 265px;
    }
};
%footerMargine{
    margin: 30px auto;
    @media(min-width: 768px){
        margin-top: 91px;       
    }
    
};


%imagesMargine {
        margin: 30px auto 0px;
        @media(min-width: 480px){
            margin-top: 90px;
        }
        @media(min-width: 768px){
            margin-top: 90px;        
        }
};

