@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import '_colors';
@font-face {
    font-family: "Sofia Sans";
    font-display: swap;
    font-style: normal;
    src: url("../Fonts/SofiaSans-Regular.woff2") format("woff2");
    
 }
%mainText {
    font-family: "Roboto";
    font-style: normal;  
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;  
}

%title_Whyyou_Exactly_Phone_number_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
};


%title_Drnikola_and_dentist_Text {
    font-family: "Sofia Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
};